html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
}

#viewDiv:active {
  outline: none;
  border: none;
}

.esri-popup__main-container {
  display: none;
}

#optionsDiv {
  position: absolute;
  bottom: 17px;
  width: 100%;
  padding: 20px 0;
  z-index: 1;
  text-align: center;
}

button {
  background: white;
  padding: 7px;
  border: 1px solid #005e95;
  font-size: 0.9em;
  margin: 5px;
  color: #005e95;
}

button:hover {
  background: #005e95;
  color: white;
  cursor: pointer;
}

#modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 200px;
  background-color: #3d3d3d;
  color: white;
  z-index: 999;
  border-radius: 10px;
  padding: 0px 10px;
}

